.join{
    margin-left: 20px;
    width: 300px;
}
#hj{
    font-size: 40px;
}
.chart{
    width: 250px;
    height: 190px;
    margin-right: 20px;
}
.l1{
    font-size: 40px;
}
.l2{
    font-size: 35px;
}
.itclogo{
    margin-left: 30px;
}
.about{
    margin-right: 30px;
}
